.header {
    padding: 10px 10px 0;
}

.subHeader {
    text-align: center;
    font-weight: 200;
    font-family: monospace;
    padding-bottom: 11px;
    color: white;
}

.trakerImage {
    width:100%;
}