.header {
    padding: 10px 10px 0;
    text-align: center;
    font-size: 40px;
    color: white;
}

.subHeader {
    text-align: center;
    font-weight: 200;
    font-family: monospace;
    padding-bottom: 10px;
    color: white;
}