.header {
    padding: 10px 10px 0;
}

.subHeader {
    text-align: center;
    font-weight: 200;
    font-family: monospace;
    padding-bottom: 10px;
    color: rgb(212, 161, 161);
}

.trakerImage {
    width:100%;
}