.burgerArea {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    background-color:hsl(48deg 100% 67% / 70%);
    box-shadow: 0px 0px 13px 9px rgb(12 12 12 / 40%);
    padding: 10px;
}

.buttonButton {
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.burgerButton--img {
    background-color: transparent;
    height: 20px;
    width: 20px;
    margin-left: 10px;
    transition: 0.5s;
}

.buttonButton {
    transition: 0.5s;
}

.buttonButton:hover {
    transform: scale(1.15);
}

.list {
    list-style: none;
    padding: 20px;
}

@media (min-width : 768px) {    
    .list { 
        list-style: none;
        padding: 0px;
        margin: 0;
        display: flex;
        justify-content: flex-end;
        gap: 20px;
    }
}

.listItem {
    color:#000000e8;
    text-decoration: none;
    font-size: 20px;
    transition: 0.6s;
}

@media (min-width : 768px) {    
    .listItem { 
        font-size: 16px;
    }
}

.listItem:hover {
    color:blanchedalmond
}

