.burgerArea {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    background-color:hsl(48deg 100% 67% / 70%);
    box-shadow: 0px 0px 13px 9px rgb(12 12 12 / 40%);
    padding: 10px;
}

.buttonButton {
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.burgerButton--img {
    background-color: transparent;
    height: 20px;
    width: 20px;
    margin-left: 10px;
    transition: 0.5s;
}

.buttonButton {
    transition: 0.5s;
}

.buttonButton:hover {
    transform: scale(1.15);
}