html {
  box-sizing: border-box;
}
  
*, ::after, ::before {
  box-sizing:inherit;
}

#root {
  font-family: 'Montserrat', sans-serif;
  padding: 30px;
  background-image: url("../background1.jpg");
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  background-attachment: fixed;
}

